<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Movies | Hogwarts</title>
</head>

<body>
<h1>file.movieServer를 그렇게 하는게 맞냐?</h1>
<ul th:each="movie : ${movies}">
    <a th:href="'watch/' + ${movie.id}">
        <div th:text="${movie.id}"></div>
        <div th:text="${movie.movieName}"></div>
        <div th:text="${movie.videoPath}"></div>
        <div th:text="${movie.subtitlePath}"></div>
        <div th:text="${movie.thumbnailPath}"></div>
        <div th:text="${movie.movieServer}"></div>
    </a>
</ul>

</body>


</html>